---
BasedOnStyle: LLVM
IndentWidth: 4
AccessModifierOffset: -4
ColumnLimit: 120
NamespaceIndentation: None
FixNamespaceComments: true
PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false
BreakBeforeBraces: Linux
AllowShortLambdasOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
PackConstructorInitializers: Never
ConstructorInitializerIndentWidth: 4
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:           '^"wacfrac/'
    Priority:        1
    SortPriority:    0
    CaseSensitive:   true
  - Regex:           '^<'
    Priority:        2
    SortPriority:    0
    CaseSensitive:   true
...
